body {
    background-color: #ff0000;
}
body {
    background-color: #ffffff;
}

.connexion {
    margin: 10px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}
