body {
    background-color: #604b4b;
}
body {
    background-color: #ce6666;
}
.connexion {
    margin: 10px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}